h2 {
  font-family: 'Rubik', sans-serif;
}

.error {
  color: red;
}

.fieldWrapper {
  position: relative;
  z-index: 1;
  display: inline;
  margin: 10px;
}
.fieldWrapper .addressDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  left: 0;
  width: 100%;
  height: 100px;
  overflow-y: auto;
  block-size: fit-content;
  border-radius: 10px;
}
.addressItem {
  background-color: white;
  width: fit-content;
  padding: 3px;
}
.addressItem:hover {
  background-color: rgb(218, 226, 251);
}
